<div class="relative" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

  <a
    [routerLink]="item().path"
    routerLinkActive
    #rla="routerLinkActive"
    [routerLinkActiveOptions]="{ exact: true }"
    [class]="'relative flex items-center py-2 px-3 my-1 font-medium rounded-md cursor-pointer transition-colors group ' +
             (rla.isActive ? 'bg-orange-500 text-white' : 'hover:bg-slate-700 text-slate-300')"
  >
    <fa-icon [icon]="getIcon(item().icon)" class="w-5 text-center"></fa-icon>


    <span
      class="overflow-hidden transition-all whitespace-nowrap"
      [class]="sidebarService.expanded() ? 'w-52 ml-3' : 'w-0'"
    >
      {{ item().label }}
    </span>

    @if (!sidebarService.expanded()) {
      <div class="absolute left-full rounded-md px-2 py-1 ml-6
                  bg-orange-500 text-white text-sm whitespace-nowrap
                  invisible opacity-0 -translate-x-3 transition-all
                  group-hover:visible group-hover:opacity-100 group-hover:translate-x-0">
        {{ item().label }}
      </div>
    }
  </a>

  @if (showSubmenu() && item().subItems?.length) {
    <div
      class="absolute left-full top-0 ml-1
             bg-slate-700 shadow-lg rounded-md border border-slate-600
             z-50 min-w-[160px]"
      (mouseenter)="onSubmenuEnter()"
      (mouseleave)="onMouseLeave()"
    >
      @for (sub of item().subItems!; track sub.path) {
        <a
          [routerLink]="sub.path"
          class="block p-2 hover:bg-orange-500 hover:text-white
                 text-slate-200 whitespace-nowrap transition-colors"
        >
          {{ sub.label }}
        </a>
      }
    </div>
  }

</div>
